.bg-color{
    background: linear-gradient(90deg, rgb(210, 141, 250), rgb(228, 196, 247));
}
.navbar-brand{
    color: aliceblue !important;
    text-shadow: 0px 2px 3px rgb(66, 3, 82);
}
.navbar{
    padding: 25px;
}

.card{
    margin: 50px;
}

